<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zarejestruj się</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <form class="signup-form" action="/api/auth/register" method="post">
        <div>
            <p>Email</p>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <p>Login</p>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <p>Hasło</p>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <p>Wybierz funkcję, którą pełnisz</p>
            <select id="role" name="role">
            <option value="none">Wybierz</option>
            <option value="spedytor">Spedytor</option>
            <option value="kierowca">Kierowca</option>
            <option value="zleceniodawca">Zleceniodawca</option>
        </select>
        </div>
        <div>
            <input type="submit" value="Zarejestruj się">
        </div>
    </form>

</body>
</html>