
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

    <form action="/api/auth/logout" method="POST">
        <button type="submit">Logout</button>
    </form>

    <main class="main-content">
        <header>
            <h1>Dashboard</h1>
        </header>
        
        <%- body %>
    </main>
</body>
</html>